
<h3>様式９</h3>
<%= form_tag(:action => :calc)+submit_tag('様式９計算') -%>
<table><tr>
<td>届出時入院患者数</td><td><%= text_field(:hospital_form9,:patient_num,:size => 5) %></td></tr>
<tr><td>１日平均入院患者数</td><td><%= text_field(:hospital_form9,:average_patient,:size => 5) %></td>
  <td> 算出期間</td><td><%= text_field(:hospital_form9,:patient_start_year,:size => 3) %>年</td>
  <td><%= text_field(:hospital_form9,:patient_start_month,:size => 1) %>月～</td>
  <td><%= text_field(:hospital_form9,:patient_stop_year,:size => 3) %>年</td>
  <td><%= text_field(:hospital_form9,:patient_stop_month,:size => 1) %>月</td></tr>
<tr><td>平均在院日数</td><td><%= text_field(:hospital_form9,:average_Nyuuin,:size => 5) %></td>
  <td> 算出期間</td><td><%= text_field(:hospital_form9,:Nyuuin_start_year,:size => 3) %>年</td>
  <td><%= text_field(:hospital_form9,:Nyuuin_start_month,:size => 1) %>月～</td>
  <td><%= text_field(:hospital_form9,:Nyuuin_stop_year,:size => 3) %>年</td>
  <td><%= text_field(:hospital_form9,:Nyuuin_stop_month,:size => 1) %>月</td></tr>
</tr></table>
</form>
