<br>
<%= links BookKeepingController::Labels %>
　　ユーザ：<%= current_user.login %><hr>
<div align=center><h3><%= @TYTLE  %>　(<%= @year.year %>年度)</h3>
<%= flash[:message] %>
<%= @errorse -%>
<table border=1><%= label_line %>
<% @models.each do |obj| id = obj.id -%>
<tr><% @labels.each{|html_cell| -%>
<%= html_cell.disp_field obj %><% } %><tr> 
<% end -%>
</table>
<br />
</div>