 <div id='year_change' >
   <%= select(:year,:year,[2000]+(2012..Time.now.next_year.year).to_a,{},:value => @year.year) %>年度
　　ログインユーザ：<%= current_user.login %>
　<%= @owner.owner %>の簿記(<%= @owner.permission_string %>)
 <% if   @owner_choices.size>1 %>
  <%= link_to( '変更', :action => :owner_change_win ,:popup => true) %> 
  <% end %>
</div>
<hr>
<%= flash[:message] %>
<table border=1 cellspacing=0>
<% @labels[0..-2].map{|menu| -%>
<%=  menu.show self %>
<% }.join -%>
<div id='menu'>
<%= @labels[-1].show self %>
</div>
</table>
<div align=center>
 <%= link_to("振替伝票一覧 印刷用CSV","/book/main/csv_out_print")%><br>
 <%= link_to("勘定元帳一覧 CSV","/book/keeping/csv_motocho")%><br>
</div>
