<%  s={ -1 => 0,0=>0,1=>0} %>
<%#= links Book::KeepingController::Links.select{|l| l.action != :new } %>
　　ユーザ：<%= current_user.username %><hr>
<h3>清算表<%= @year.year %>年度 <%= @owner.owner_name %>の簿記</h3>
<table border=1>
<tr><td></td><td>課目</td><td>借方</td><td>貸方</td></tr>
<% Book::Kamoku.order([ "bunrui","kamoku"]).each{|kamoku|  
  s[kamoku.taishaku] += @sum[kamoku.bunrui]
%>
<% if @sum[kamoku.bunrui] != 0 %>
<tr><td><%= kamoku.bunrui %></td>
<td><%= link_to(kamoku.kamoku,
    :controller=> "book/main",:action => :book_make,
    :kamoku_id=>kamoku.id)
%></td><td align=right><%= @sum[kamoku.bunrui] if kamoku.taishaku >0 %></td>
<td align=right><%= @sum[kamoku.bunrui] if kamoku.taishaku <0 %></td></tr>
<% end %>
<% } %>
<tr><td></td><td></td><td><%= s[1] %></td><td><%= s[-1]%></td></tr>
</table>
