<%#= links Book::KeepingController::Links.select{|l| l.action != :new } %>
　　ユーザ：<%= current_user.username %><hr>
<div align=center><h3>貸借対照表  <%= @year.year %>年度 <%= @owner.owner_name %>の簿記</h3><br>
<div align=right><%= Time.now.strftime("(%Y年%m月%d日現在)") %></div>
<table border=1>
<tr><% %w(資産の部 負債・資本の部).each{|tytle| %>
    <td colspan=3 align=center><%= tytle %></td>
   <% } %> </tr>
<% @data[3..-1].each{|row| %>
<tr><% [0,3].each{|i| %>
<td><%= dsp_kamoku_line row[i] %></td>
<%= "<td align=right>#{row[i+1]}</td><td align=right>#{row[i+2]}</td>" %>
<% } %>
</tr><% } %>
</table>
