<h1>Editing user</h1>
<%= @user[:valtype] %>

<%= link_to '表示', @user %> | <%= link_to '一覧', users_path %>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @Labels.each_with_index{|lbl,i|
val = case @InputType[i]
   when :ro        ; @user[lbl]
    when :text     ;text_field     :user,lbl.to_sym,:value=>@user[lbl]
    when :password ;next
    when :bool     ;
     (radio_button( :user,lbl.to_sym,true, :checked=> @user[lbl]==true ? 'checked':'')+"可"+
      radio_button( :user,lbl.to_sym,false,:checked=> @user[lbl]==true ? '':'checked')+"否"
     )
    end %>
<%= "<tr><td>#{lbl}</td><td>#{@HelpMsg[i]}</td><td>#{val}</td>" %><% } %></tr>
</table>

オプション
<table border=1><tr><td>オプション</td></tr>
<% @options.each{|opt| -%> <tr><td><%= opt.label %></td><td> <% -%>
 <%= "<input type='radio' id=user_options_ok_#{opt.id}' name='user_options[#{opt.id}]' value='1'" +
  (@arrowed_options.include?(opt.id) ? "checked" : "" )%>>有効　
 <%= "<input type='radio' id=user_options_ng_#{opt.id}' name='user_options[#{opt.id}]' value='0'" +
  (@arrowed_options.include?(opt.id) ?  "":"checked")  %>>無効</td></tr> <%  } %>
</table>


<% end %>

<%= link_to '表示', @user %> |<%= link_to '一覧', users_path %>
