<h1>Editing label</h1>
<%= @label[:valtype] %>
<% form_for(@label) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @Columns.each_with_index{|lbl,i|
val = case @InputType[i]
   when :ro        ; @label[lbl]
    when :text     ;text_field     :label,lbl.to_sym,:value=>@label[lbl]
    when :password ;next
    when :bool     ;
     (radio_button( :label,lbl.to_sym,true, :checked=> @label[lbl]==true ? 'checked':'')+"可"+
      radio_button( :label,lbl.to_sym,false,:checked=> @label[lbl]==true ? '':'checked')+"否"
     )
    end %>
<%= "<tr><td>#{lbl}</td><td>#{@HelpMsg[i]}</td><td>#{val}</td>" %><% } %></tr>
</table>
<% end %>

<%= link_to '表示', @label %> |
<%= link_to '一覧', labels_path %>
