<h2 align=center><%= @TYTLE  %> <%= @TYTLE_post %></h2>
<%= action_buttoms @TableEdit %>
<table border=1>
<% @images.each_slice( @slice){|images| %>
  <tr><% images.each{|graph_define_name,date,image| -%>
      <td><%= graph_define_name -%> <br>
          <%= link_to(action: :day_graph,date: date,
                      id: @model.id,graph_define_name: graph_define_name) do
                    image_tag( (image.blank? ? nil : "/show_graph/show_img?graph_path=#{image}"),
                    width: @width, height:  @height)  
                    end
          %>
      </td>    <% } %>
</tr><% } %>
</table>