<h3>電力消費量 本日実績 <%= @today %></h3>
<table><tr><td>
<%= form_tag(:action => :update_today) %>
<%= submit_tag ("稼働パターン") %> <%= text_field(:power,:line,:size => 3) %>
</form></td><td>　　　　デモ用機能→</td><td>
<%= form_tag(:action => :clear_today) %><%= submit_tag ("本日データクリア") %>
</td></tr></table>
気候予報
<table border=1><tr><td>時刻</td><%= [3,6,9,12,15,18,21,24].map{|h| "<td>#{h}</td>"} %></tr>
<tr><td>気温</td><%= @temp.map{|t| "<td>%.1f</td>"%t} %></tr>
<tr><td>湿度</td><%= @humi.map{|t| "<td>%d</td>"%t} %></tr>
<tr><td>蒸気圧</td><%=@forecast.vaper.map{|t| "<td>%.1f</td>"%t} %></tr>
</table>
<img src='/shimada/factory/show_gif?graph_file=today'>
