<h1>パスワード変更</h1>
<%= @user.errors.to_a.to_s +  "=====" %>
<%= flash[:notice] %>
<%= error_messages_for :user %>
<%= form_tag( {:controller => :users,:action=>:password_update})  -%>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @labels.each_with_index{|html_cell,i| %>
<%= "<tr><td>#{html_cell.symbol}</td><td>#{html_cell.label}</td><td>" +
    "#{html_cell.edit_field( @Domain,@user,controller)}</td></tr>" %>
<% } %>
</table>
<% [:login,:name,:id,:email].each{|sym| %><%= hidden_field(:user,sym) %> <% } %>
<p><%= submit_tag 'パスワード変更' %></p>
<%# end -%>
