ユーザ別設定表
<%= link_to '表示', @user %> | <%= link_to '一覧', users_path %>
<%= form_for(@user) do |f| %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<table><tr><td valign=top>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @labels.each_with_index{|html_cell,i| %>
<tr><td><%= html_cell.symbol %></td><td><%= html_cell.label -%>
</td><td><%= html_cell.edit_field( @Domain,@user,controller,:size=> 10) %></td></tr>
<% } %>
</table></td>
<td>
<table border=1><tr><td colspan=2>オプション　　　　　　　　　　　　 </td></tr>
<% @have_option.each{|have| -%> <tr><td><%= have.option.label %></td><td>
 <%= radio_button(:have,:value,have.values[0],id: "user_options_#{have.option.id}",name:"user_options[#{have.option.id}]",checked: have.value )%><%= have.labels[0]%>
 <%= radio_button(:have,:value,have.values[1],id: "user_options_#{have.option.id}",name:"user_options[#{have.option.id}]",checked: !have.value)%><%= have.labels[1]%>
</td></tr><%-  } -%>
</table>
</td></tr></table>
<% end %>



<%= link_to '表示', @user %> |<%= link_to '一覧', users_path %>
