<h1>Listing lips</h1>

<table border=1><tr><% @Labels.each_with_index{|lbl,i| %>
<% next unless @Listable[i] %><TD><%= @HelpMsg[i] %></td>
<% } %></tr>
<% @users.each do |user| %>
  <tr><% @Labels.each_with_index{|lbl,i| %>
    <% next unless @Listable[i] %>
<td><%= val = case @InputType[i]
    when :bool     ; user[lbl] ? "可" : "否"
    when :password ; next
    else           ; user[lbl]
    end %></td>
<% } %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to '削除', user, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
