<h1>Sign up as a new user</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= form_for :user  do |f| -%>
<table><tr><td valign=top>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @labels.each_with_index{|html_cell,i| %>
<tr><td><%= html_cell.symbol %></td><td><%= html_cell.label %></td><td>
  <%= html_cell.edit_field( @Domain,@user,controller) %></td></tr>
<% } %>
</table></td><td>

<table border=1><tr><td colspan=2>オプション</td></tr>
<% @options.each{|opt| -%> <tr><td><%= opt.label %></td><td> <% -%>
 <%= radio_button(:user_options,opt.id,1) %>有効
 <%= radio_button(:user_options,opt.id,0) %>無効</td></tr> <%  } %>
</table>
</td></tr></table>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
