<h3><%= @TYTLE %> <%= @TYTLE_post %></h3></h3>
<%- opt = {action: :show_img,
   graph_format: (@graph_format||"jpeg").html_safe ,
   graph_file_dir: (@graph_file_dir ||  (Rails.root + "tmp" + "img").to_s).html_safe
   }
%>
<%= @postTitleMsg.html_safe if @postTitleMsg %>
<img src='<%= url_for( opt.merge(graph_file: @graph_file_monthly)) %>' ><br>
<img src='<%= url_for( opt.merge(graph_file: @graph_file_dayly)) %>' >
