<h1>Listing labels</h1>
<%= link_to 'New label', new_label_path %>
<table border=1>>
  <tr><% @Columns.each_with_index{|lbl,i| %>
<% next unless @Listable[i] %><TD><%= @HelpMsg[i] %></td>
<% } %>
  </tr>

<% @labels.each do |label| %>
  <tr><% @Columns.each_with_index{|lbl,i| %>
    <% next unless @Listable[i] %>
<td><%= val = case @InputType[i]
    when :bool     ; label[lbl] ? "可" : "否"
    when :password ; next
    else           ; label[lbl]
    end %></td>
<% } %>
    <td><%= link_to 'Show', label %></td>
    <td><%= link_to 'Edit', edit_label_path(label) %></td>
    <td><%= link_to 'Destroy', label, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New label', new_label_path %>
