<h2>製造計画 実績入力</h2>

この画面は製造現場の日報で月度計画の実績入力を行うものです。
<br>
日報ファイル欄に Excel ファイルまたはそのCSVファイルをいれ、[入力]してください。
<br>
工程・日付は自動的に読み取ります。<br>
同じロットの同じ工程のデータを入れると上書きになり、前のデータはなくなります
<br>
消去はできません。間違えて入れた場合は、一覧画面で修正してください。
<br>
<p>
<b>複数の日報を同時に入れるときは、日付順に入れてください。<br>
順番が逆になると、日をまたいで製造しているロットの終了時間が上書きされてしまいます。
</b><br>
一つのExcelに複数の日報のシートが有ってもすべて読み取ります。<br>
ただし、次の様にしないと日付順が狂います。<br><b>
　複数の日のデータを入れるときは、日付順にシートを並べる<br>
　1ファイルに10シートまで。</b>
<p>
<%= form_tag( {:action=> :update_result }, :multipart => true) %><%= submit_tag '入力' %>
  <%= hidden_field :ube_skd,:id , :value => @id %>
　　立案番号 <%= @id %>　　 立案期間 <%= @model.skd_from.strftime("%Y/%m/%d")%> ～
<%= @model.skd_to.strftime("%Y/%m/%d") %><p>
日報ファイル
<table>
<% (0..19).step(2){|i| %>
    <%= "　<tr><td>#{i+1}</td><td> <input size=45 name='ube_skd[#{i}]' type='file' style='font-size:100%;'>" +
    "<td>#{(i+2)}</td><td><input size=45 name='ube_skd[#{i+1}]' type='file' style='font-size:100%;'></td></tr>"
%>
<% } %></table>
</form>
