<h2>新規製造計画立案</h2>
<%= error_messages(@model.errors) %>
<% if @plans.size == 0 %>
<%= form_tag ube_skd_index_path, :multipart => 'multipart/form-data',method: 'post'%>
<% else %>
<%= form_tag ube_skd_index_path,:method => :post -%>
<% end %>
<table><tr><td valain=top> <%= submit_tag '先月度仕掛り取り込み' %></td></tr>
<tr><td>立案期間　
   <%= @skd_from_label.edit_field(:ube_skd,@model,controller)+"～"+
   @skd_to_label.edit_field(:ube_skd,@model,controller) %> </td></tr>
<% if @plans.size==0 %>
<tr><td>生産計画Excelから読み込み<%= file_field_tag('excelfile',:size=>25) %>
←両方入っていたらこちら優先</td></tr> 
<tr><td>LiPS CSVrから読み込み　　<%= file_field_tag('csvfile',:size=>25) %></td></tr> 
<% end %>
</table>
<%= render :partial => "edit_plans" %>
<%# end %>

