<h3>グループメンバー割り当て<%= @TYTLE_post %></h3>

<%=    form_tag(:action => :update_assign)+submit_tag('更新') %>
<table border=1><tr><td></td><td align='center' colspan=<%= @roles_by_bunrui.values.flatten.size %>>役割・資格</td>
<td align='center' colspan=<%= @labels.size %>>割振り標準・上限 </td></tr>
<tr><td></td>
<% @roles_by_bunrui.values.flatten.each{|role|  %> <td align='center' width=20><%= role.name %></td> <% } %>
<%=  label_line_no_tr  %>
</tr>
<% @nurces.each{|nurce| roles= nurce.roles_by_id %>

<tr><td><nobr><%= nurce.name %></td>
  <%- [1,2,3].each{|bunrui| @roles_by_bunrui[bunrui].each{|role|  -%>
    <td bgcolor="silver"><%= role_checkbox(@Domain,role,nurce,ro: true ) %></td><% }} %>
<%- @roles_by_bunrui[4].each{ |role| -%> <td> <%= role_checkbox(@Domain,role,nurce ) %></td><% } %>

 <% @labels.each{|html_cell| -%>
  <%= html_cell.td %>
  <%= html_cell.edit_field_with_id(@Domain,nurce.limits,controller,
                                   :name => name(@Domain,nurce.id,:limit,html_cell.symbol))  %>
  </td><% } %>
</tr><%}%>
</table>

</form>
