
<h3>グループメンバー割り当て<%= @TYTLE_post %></h3>

<%= need_warn -%>
<%= table_edit %>
<table border=1><tr><td></td><td></td><td align='center' colspan=<%= @roles_by_bunrui.values.flatten.size %>>役割・グループ</td>
<td align='center' colspan=<%= @labels.size %>>割振り標準・上限 </td></tr>
<tr><td></td><td></td>
<% @roles_by_bunrui.values.flatten.each{|role|  %> <td width=20><%= role.name %></td> <% } %>
<%=  label_line_no_tr  %>
</tr>
<% @nurces.each{|nurce| roles= nurce.roles_by_id %>

<tr><td><%= nurce.id %></td><td><nobr><%= nurce.name %></td>
   <% @roles_by_bunrui.values.flatten.each{|role|  -%>
  <td bgcolor="silver"><%= role_checkbox(@Domain,role,nurce ,ro: true) %> <%}%>
   <% @labels.each{|html_cell| -%>
  <%= html_cell.td %><%= html_cell.disp_field nurce.limit %></td><% }%>
</tr><%}%>
</table>


