<%#=    form_tag(:action => :update_on_table)+submit_tag('更新') %>
<table border=1>
<tr><% %w(ID 優先順 製造番号 製造数 製品名 銘柄 養生庫).each{|lbl| -%>
<td rowspan=2 align=center><%= lbl %></td><% } -%>
<%=  times_header("予定") %><td rowspan=2 align=center>製造番号</td>
<%=  times_header("実績") %></tr>
<% [1,2].each{ %w(抄造 養生 乾燥 加工).each{|l| %>
<td colspan=2 align=center><nobr> <%= l %></td> <% }} %></tr>
<% @plans.each do |plan| @plan=plan;id = plan.id -%>
<%= "<tr id='pro_#{id}'>" %><% @plabels.each{|html_cell|  -%>
 <nobr><%= html_cell.disp_field plan %><% } -%>
</tr>
<% end -%>
</table>
<%#</form>%>
<br />
