<h2>製造計画立案・修正</h2>
<%= error_messages(@model.errors) %>
<table><tr><td valain=top>
  <table>
    <tr><TD  style='font-size:140%;' colspan=2 >立案番号　<%= @model.id %></td></tr>
    <%= table_of_buttom %>
    <% if @model.ube_plans.size==0 %>
      <tr><td>LiPS CSV読み込み<br><input size=25 id='csvfile' name='csvfile' type='file'></td></tr>
    <% end -%>
   </table>
</td>
<%# 各工程の稼働時間などの表 -%>
<td>
<%= timeline %>
</td>
<%# 各工程の累積稼働時間の表 -%>
<td>
<% form_for(@model) do |f| %>
<%= runtimeline(true) %>
</td>

</tr></table>
<%# 個別製造計画の表を描く -%>

<table><tr><td><font size=2>製造計画</td>
<td>優先順で立案<%= my_check_box(@model,:ube_skd,:jun_only) %></td>
<td>立案開始日 <%= edit_md_date(:ube_skd,:replan_from,@model,:size => 3) %></td>
<td><%= submit_tag UbeSkdController::Commit[@edit_only] %><%= hidden_field_tag :id,value = @model.id %>
</td><% if !@edit_only %><% end %>
<td><%= link_to  '表示・立案',:action =>:show, :id=>@model.id,:sort =>@sortkey -%></td>
<td><%= link_to UbeSkdController::EditOnly[!@edit_only],:action=> UbeSkdController::Action[!@edit_only],:id=>@model.id ,:sort=>@sortkey,
	:commit => UbeSkdController::Action[!@edit_only] %> </td>
<% @sort.each{|sort| -%>
<%= "<td>"+link_to( @Sort[sort],:action => :sort_edit,:sort => sort,:id=>@model.id)+"</td>" %>
<% } -%>

</tr></table>
<%= render :partial => "edit_plans" %>
<% end %>


<%#
立案実行
LiPS読み込み

%>