<h3><%= @TYTLE  %> 一覧 <%= @TYTLE_post %></h3>
<%= flash[:message] %>
<%= @errors.call.html_safe if @errors -%>
<%= case @TableEdit
 when TrueClass ; add_edit_buttoms(@Domain) 
 when String; @TableEdit 
 when Array ; action_buttoms @TableEdit 
 end %>
<%= action_buttom_table %>
<%- @labels = @Labels[0]+@Labels[1] -%>
  <%- method = @method || :peak_kw
      action = @action || :minute_graph
      -%>
<%= will_paginate @dayly %>
<table border=1 id="IndexTable"><%= @TableHeader ? send(@TableHeader) : label_line_option %>

<%- @models_group_by.keys.reverse.each do |month| 
   @models =models =@models_group_by[month] ; model = @models.first  -%>
  <tr><%- @Labels[0].each{|html_cell| -%>
<td><% if html_cell.symbol != :total ;%><%= html_cell.disp_field(model) -%>
<%- else ; %><%= @models.inject(0.0){|s,mdl| s+(mdl.kwh_monitor||0.0)}.round(1) -%><% end -%>
</td><% } -%>

  <%- @Labels[1].each_with_index{|html_cell,idx| model = @models.shift -%>
  <%= html_cell.td %><% if model && model.date.day == idx+1 -%><%= html_cell.disp_field(model) -%>
    <%- else ; @models.unshift(model)-%> 　
    <%- end -%></td>  <%- } -%>
  </tr>
<%- end -%>
</table>
