<h3>会議出張割り当て<%= @TYTLE_post_edit %></h3>

<%=    form_tag(:action => :update_assign)+submit_tag('更新') %>
<table border=1><tr><td></td>
<% @meetings.each{|meeting|  %> <td width=15><%= meeting.name %> </td> <% } %>
</tr>
<tr><td>日</td>
<% @meetings.each{|meeting|  %> <td width=15><%= meeting.startday %> </td> <% } %>
</tr>
<% @nurces.each{|nurce| monthly= nurce.monthly(@month);id=monthly.id %>

<tr><td><nobr><%= nurce.name %></td>
   <% @meetings.each{|meeting| %>
    <td width=15>
    <%= kinmucode_selector_for_meeting(@Domain,meeting,nurce) %>
    <%}%>
</tr><%}%>
</table>

</form>
