<h3>会議出張割り当て<%= @TYTLE_post %></h3>

<%=    form_tag(:action => :assign,:metuod => :post)+submit_tag('編集') %>
<table border=1><tr><td></td>
<% @meetings.each{|meeting|  %> <td width=20><%= meeting.name %> </td> <% } %>
</tr>
<tr><td>日</td>
<% @meetings.each{|meeting|  %> <td width=30><%= meeting.startday %> </td> <% } %>
</tr>
<% @nurces.each{|nurce| monthly= nurce.monthly(@month);id=monthly.id %>

<tr><td><%= nurce.name %></td>
<%- @meetings.each{|meeting| day = meeting.day %>
<td <%= monthly.color(day)%>><%= monthly.kinmucode(day) || "&nbsp;".html_safe -%></td>
    <%- } -%>
</tr><%- }%>
</table>

</form>
