<script type="text/javascript" src="/javascripts/local/tools2.js"></script>


<h3><%= @TYTLE  %> 一覧だ <%= @TYTLE_post %></h3>

<%= @scriptt %>
<%= flash[:message] %>
<%= @errors.call if @errors -%>
<%= case @TableEdit
 when TrueClass ; add_edit_buttoms(@Domain) 
 when String; @TableEdit 
 when Array ; action_buttoms @TableEdit 
 end %>

<%= will_page = pagenation @models %>
<table border=1 id="IndexTable"><%= @TableHeader ? send(@TableHeader) : label_line_option %>
<% @models.each do |obj|  -%>
  <tr id='<%= obj.id %>'><% @labels.each{|html_cell| 
        next if html_cell.class==HtmlHidden || html_cell.class==HtmlPasswd ||  html_cell.field_disable(controller) -%>
  <%= html_cell.td %><%= html_cell.disp_field obj %></td><% } %>
  <% if @Show %>
    <td><%= link_to '表示', obj %></td>
  <% end %>
  <% if @Edit %>
    <td><%= link_to 'Edit', :action => :edit ,:page => @page,:id => obj.id %>
    </td>
  <% end %>
  <%= delete_if_accepted obj %>
  </tr>
<% end -%>
</table>
<%= will_page %>
<br />
<%= send(@AfterIndex,:show) if @AfterIndex %>

<token name ='<%= form_authenticity_token %>'></token>

<script type="text/javascript">
 
editcells = new EditCells("/hospotal/role/on_cell_edit","IndexTable",[0],{},{});
document.write(editcells.myTR2.rows.length+ "<br>") ;
document.write(editcells.columns.length+ "<br>"); 
editcells.start();
document.write(editcells.myTR2.rows[4].cells[1].innerHTML);
</script>
<br>
