<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
<HEAD><TITLE>線型計画法計算</TITLE></HEAD>
<BODY bgcolor="#F8FfFA">
<% user=current_user ;@promax=@lips.promax.to_i; @opemax=@lips.opemax.to_i %>
<font size=5 ><b>LiPS(汎用会員版 )</b></font>
<div align=right>UserName:<%= user.login %></font></div>
<%# -------- #%>
<font size = 2>
  <%= error_messages(@lips.errors) -%>
<div align=right>
<% if user.lipscsvio -%>
   <form enctype="multipart/form-data" action="./csv_upload" method="post">
     <input type="submit" value="条件設定CSV Upload"><input size=35 name="csvfile" type="file">
    <a href="/lips/LiPS-CSV100V2.xls">縦フォーム</a>
    <a href="/lips/LiPS-CSV100H2.xls">横フォーム</a>
    <%= hiddens %>
    </form>
<% end -%>
<% if user.lipssizeoption -%>
<font size = 2><form method="POST" action="./change_form">
  <font size = 2><input type="submit" value="画面フォーム 変更">
　製品数(<%= user.lipssizepro %>以下)<%= text_field(:lips,:promax,:size=>2) %>
　工程数(<%= user.lipssizeope %>以下)<%= text_field(:lips,:opemax,:size=>2) %>
  　製品の並び
    <%= radioBottom(:lips,:vertical,[["vertical","縦"],["landscape","横"]],@lips.vertical) %>
    <%= hiddens %></form>  </td></tr>
<% end %>
</div>
<form method="POST" action="./test2"><input type="submit" value="実行">
<% %w(promax opemax vertical).each{|item| %>
  <%= hidden_field(:lips,item) %>
<% } -%>
<%- if user.lipscsvio ;if @prefix && @csvfile && (file=File.exist?(@prefix+@csvfile))  -%>
<%= link_to("結果ダウンロード",@csvfile) -%>
<% else; -%>結果ダウンロード<% end;end %>　
<font size = 2>最大化/最小化　
  <%= radioBottom(:lips,:minmax,[["maximize","最大"],["minimize","最小"]],@lips.minmax) %>
<%= vertical_or_landscape %>
