<h3><%= @TYTLE %> 編集 <%= @TYTLE_post_edit %></h3>
<% form_for(@model) do |f| %>
<%= hidden_field_tag "page",@page %>
  <%= f.error_messages %>
  <%= f.submit '更新' %>
<table border=1><%= @TableHeader ? send(@TableHeader) : label_line %>
<% id = @model.id -%>
<%= "<tr id='pro_#{id}'>" %><% @labels.each{|html_cell| -%>
 <td><%= html_cell.edit_field @Domain,@model,controller %></td> <% } -%>
</tr>
</table>
<%= hidden_field_tag(:back,@back) if @back %>
<%= hidden_field_tag(:back_params,@back_params) if @back_params %>
<% end %>
<br />
<hr>
<%= @PostMessage %>
 