<h3><%= @TYTLE %> </h3>
<table border=1><%= label_line_option %>
<% id = @model.id -%>
<tr id='pro_<%= id %>' ><% @labels.each{|html_cell| -%>
  <%= raw html_cell.td -%><%= html_cell.disp(@model) -%></td>
 <%- } -%>
</tr>
</table>
<br />
<hr>
<%= raw @PostMessage %>
