<% @promax=@lips.promax.to_i; @opemax=@lips.opemax.to_i %>
<font size=5 ><b>LiPS(<%=I18n.t "lips"%>版)</b></font>
<div align=right>UserName:<%= @login %></font></div>
<%= t(:message) %>
<font size=2>
  <%= error_messages_for(@lips) -%>
<div align=right><table>
  <tr><td><%= cvsupdate_form %></td></tr>
  <tr><td><%= change_disp_form %></td></tr>
  </table>
</div>
<form method="POST" action="./calc"><input type="submit" value="実行">
  <% %w(promax opemax vertical).each{|item| %>
  <%= hidden_field(:lips,item) %>
  <% } -%>
  <%= download_cvs_form %>
  <%= lipsoptlink  %>
<font size = 2>　最大化/最小化<%= help "LiPS#maxmin" %>
  <%= radio_button(:lips,:minmax,"maximize") %>最大
  <%= radio_button(:lips,:minmax,"minimize") %>最小
<%= vertical_or_landscape %>
